## 7.7 queryとevalメソッド

### 7.7.1 queryメソッド

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.notebook_repr_html', False)

df = pd.read_csv('OTg6QzA_activities.csv')
df.shape # 形状
df.head()

                 timestamp   X   Y   Z
0  2022-01-01 00:01:40.363  33  76  56
1  2022-01-01 00:01:42.961  34  87  56
2  2022-01-01 00:01:45.562  25  89  47
3  2022-01-01 00:01:48.163  11  70  50
4  2022-01-01 00:02:08.864  33  72  58

In [3]:
# X > 0 and Y > 200 and Z < 50のデータのみ抽出
df[ (df['X'] > 0) & (df['Y'] > 200) & (df['Z'] < 50)]

                     timestamp   X    Y   Z
78     2022-01-01 04:05:01.958  62  559   5
79     2022-01-01 04:05:09.559  61  551   4
80     2022-01-01 04:34:16.548  17  469  20
81     2022-01-01 04:34:19.148  16  476  24
82     2022-01-01 04:34:21.751   4  473  31
...                        ...  ..  ...  ..
65410  2022-01-30 17:37:36.335  36  242  36
65739  2022-01-31 06:53:21.576  17  225  33
65740  2022-01-31 06:53:21.778   1  226  29
65778  2022-01-31 09:31:17.124  91  250  35
65791  2022-01-31 12:45:01.908  67  234  41

[2474 rows x 4 columns]

In [4]:
THRESHOLD_Y = 200
df.query('X > 0 and Y > @THRESHOLD_Y and Z < 50')

                     timestamp   X    Y   Z
78     2022-01-01 04:05:01.958  62  559   5
79     2022-01-01 04:05:09.559  61  551   4
80     2022-01-01 04:34:16.548  17  469  20
81     2022-01-01 04:34:19.148  16  476  24
82     2022-01-01 04:34:21.751   4  473  31
...                        ...  ..  ...  ..
65410  2022-01-30 17:37:36.335  36  242  36
65739  2022-01-31 06:53:21.576  17  225  33
65740  2022-01-31 06:53:21.778   1  226  29
65778  2022-01-31 09:31:17.124  91  250  35
65791  2022-01-31 12:45:01.908  67  234  41

[2474 rows x 4 columns]

### 7.7.2 evalメソッド

In [5]:
df.eval(' X > 0 and Y > 200 and Z < 50')

0        False
1        False
2        False
3        False
4        False
         ...
66276    False
66277    False
66278    False
66279    False
66280    False
Length: 66281, dtype: bool

#### eval論理演算と代入

In [6]:
df.eval('FQ = (X > 0 and Y > 200)', inplace=True)

In [7]:
df.query('FQ == True')

                     timestamp    X    Y    Z    FQ
78     2022-01-01 04:05:01.958   62  559    5  True
79     2022-01-01 04:05:09.559   61  551    4  True
80     2022-01-01 04:34:16.548   17  469   20  True
81     2022-01-01 04:34:19.148   16  476   24  True
82     2022-01-01 04:34:21.751    4  473   31  True
...                        ...  ...  ...  ...   ...
65876  2022-01-31 15:18:52.945   96  233  114  True
65877  2022-01-31 15:18:55.545   75  239   80  True
65878  2022-01-31 15:18:58.144   95  243   90  True
65879  2022-01-31 15:19:00.746  111  255   78  True
66220  2022-01-31 22:36:03.919    1  234  101  True

[7646 rows x 5 columns]

In [8]:
df[ (df['X'] > 0) & (df['Y'] > 200) ]

                     timestamp    X    Y    Z    FQ
78     2022-01-01 04:05:01.958   62  559    5  True
79     2022-01-01 04:05:09.559   61  551    4  True
80     2022-01-01 04:34:16.548   17  469   20  True
81     2022-01-01 04:34:19.148   16  476   24  True
82     2022-01-01 04:34:21.751    4  473   31  True
...                        ...  ...  ...  ...   ...
65876  2022-01-31 15:18:52.945   96  233  114  True
65877  2022-01-31 15:18:55.545   75  239   80  True
65878  2022-01-31 15:18:58.144   95  243   90  True
65879  2022-01-31 15:19:00.746  111  255   78  True
66220  2022-01-31 22:36:03.919    1  234  101  True

[7646 rows x 5 columns]

#### eval数値演算と代入

In [9]:
df.eval('X2 = X ** 2', inplace=True)
df

                     timestamp   X    Y    Z     FQ    X2
0      2022-01-01 00:01:40.363  33   76   56  False  1089
1      2022-01-01 00:01:42.961  34   87   56  False  1156
2      2022-01-01 00:01:45.562  25   89   47  False   625
3      2022-01-01 00:01:48.163  11   70   50  False   121
4      2022-01-01 00:02:08.864  33   72   58  False  1089
...                        ...  ..  ...  ...    ...   ...
66276  2022-01-31 23:28:00.481 -91  143  136  False  8281
66277  2022-01-31 23:28:41.683 -89  145  138  False  7921
66278  2022-01-31 23:28:49.383 -93  138  137  False  8649
66279  2022-01-31 23:32:36.426 -93  131  137  False  8649
66280  2022-01-31 23:32:44.126 -91  129  138  False  8281

[66281 rows x 6 columns]

In [10]:
df['X^2'] = df['X'] ** 2
df

                     timestamp   X    Y    Z     FQ    X2   X^2
0      2022-01-01 00:01:40.363  33   76   56  False  1089  1089
1      2022-01-01 00:01:42.961  34   87   56  False  1156  1156
2      2022-01-01 00:01:45.562  25   89   47  False   625   625
3      2022-01-01 00:01:48.163  11   70   50  False   121   121
4      2022-01-01 00:02:08.864  33   72   58  False  1089  1089
...                        ...  ..  ...  ...    ...   ...   ...
66276  2022-01-31 23:28:00.481 -91  143  136  False  8281  8281
66277  2022-01-31 23:28:41.683 -89  145  138  False  7921  7921
66278  2022-01-31 23:28:49.383 -93  138  137  False  8649  8649
66279  2022-01-31 23:32:36.426 -93  131  137  False  8649  8649
66280  2022-01-31 23:32:44.126 -91  129  138  False  8281  8281

[66281 rows x 7 columns]