## 7.6 文字列の操作

In [1]:
import pandas as pd
pd.set_option('display.notebook_repr_html', False)

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

    0
0  to
1   o
2   t

### 7.6.1 正規表現

In [2]:
import pandas as pd

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.match('[a-z]')

0    True
1    True
2    True
dtype: bool

In [3]:
s = pd.Series(['tokyo2', 'osaka@', '1yamagata'])
s.str.match('[0-9]')

0    False
1    False
2     True
dtype: bool

In [4]:
# 次のように、sum()メソッドを用いて、マッチした数を求める。
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.match('^[oa]').sum()

1

In [5]:
# extract()メソッド
import pandas as pd
s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

    0
0  to
1   o
2   t

In [6]:
# findall()メソッド
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall('ga')

0      []
1      []
2    [ga]
dtype: object

In [7]:
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall(r'^[a-z]+')

0    [tokyo]
1    [osaka]
2         []
dtype: object